name: Build Project

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - run: make init
      - run: make format
      - run: make format-check
      - run: make build
      - run: ./build/debug/bin/hello
